
body {
    background-color: #CCCC99;
}

#nav {
    color: grey;
    font-size: 18px;
    margin: 0;
    padding: 0;
    top: 12%;
    right: 10%;
    position: fixed;
}

#nav ul:first-letter {
    font-style: italic;
    font-size: 20px;
}

#nav ul {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

#nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
}

#nav ul li a {
    font-family: Calibri;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 30px;
    display: block;
}

#nav ul ul {
    position: absolute;
    top: 30px;
    visibility: hidden;
}

#nav ul li:hover ul {
    visibility: visible;
}

#nav ul ul li:hover {
    visibility: visible;
}

a:visited {
    color: grey;
    text-decoration: none;
    text-underline: none;
}

a:link {
    color: grey;
    text-decoration: none;
    text-underline: none;
}

#navi:first-letter {
    font-size: 22px;
    font-style: italic;
}

#navi a:hover {
    color: #d3d3d3;
}

#bild {
    max-width: 200px;
    position: absolute;
    left: 15%;
    top: 12%;
}

#uberschrift {
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 5%;
    color: #555555;
}

#datum {
    font-style: italic;
    position: absolute;
    left: 15%;
    top: 9%;
}

#rede {
    max-width: 500px;
    position: absolute;
    left: 35%;
    top: 20%;
}

#rede div {
    font-style: italic;
}

#navleiste {
    position: absolute;
    left: 35%;
    top: 12%;
    font-size: 20px;
    color: grey;
}

#navleiste a {
    font-size: 20px;
    color: grey;
}

#navleiste a:hover {
    font-size: 20px;
    color: #d3d3d3;
}

dt {
    font-size: 22px;
    font-weight: bold;
}

#label {
    width: 450px;
    position: absolute;
    left: 45%;
    top: 20%;
    font-size: 25px;
    font-weight: bold;
}

#text {
    width: 50%;
    position: absolute;
    left: 35%;
    top: 25%;
    font-size: 22px;
}

#vita {
    width: 50%;
    position: absolute;
    left: 35%;
    top: 20%;
    font-size: 22px;
}

dt {
    font-size: 22px;
    font-weight: bold;
}

#navleiste {
    position: absolute;
    left: 35%;
    top: 12%;
    font-size: 20px;
    color: grey;
}

#navleiste a {
    font-size: 20px;
    color: grey;
}

#navleiste a:hover {
    font-size: 20px;
    color: #d3d3d3;
}

#foto_unterschrift {
    width: 234px;
    position: absolute;
    top: 80%;
    left: 70%;
}

#atelier {
    width: 234px;
    position: absolute;
    top: 140%;
    left: 15%;
}

#foto_at_1980 {
    width: 280px;
    position: absolute;
    top: 205%;
    left: 70%;
}

#foto_baretti_2010 {
    width: 234px;
    position: absolute;
    top: 280%;
    left: 15%;
}

#thumb {
    position: absolute;
    left: 35%;
    top: 20%;
    width: 50%;
    font-size: 20px;
}

@media screen and (max-width: 1445px) {
    .side-image{
        display: none;
    }
}
@media screen and (max-width: 1220px) {
    #uberschrift {
        position: inherit;
    }

    #datum {
        position: inherit;
    }

    #bild {
        position: inherit;
    }
    #thumb{
        width: 65%;
    }

}


#links a:visited {
    font-size: 20px;
    color: black;
}

#links a:hover {
    font-size: 20px;
    color: #d3d3d3;
}

#links {
    max-width: 700px;
    position: absolute;
    left: 35%;
    top: 20%;
    color: black;
    font-size: 20px;
}

#imp {
    max-width: 60%;
    position: absolute;
    left: 35%;
    top: 20%;
}

.portait{
    clear: both;
    margin: auto 0px;
    overflow: hidden;
}

.contentbody{
    clear: both;
    margin: auto 0px;
}
@media screen and (max-width: 745px) {
   .contentbody{
       position: relative !important;
       max-width: 100% !important;
       left: 0% !important;
       top: 0% !important;
   }
    .portait{
        position: relative;
    }

    #thumb{
        width: 100%;
    }

    #text{
        width: 100%;
    }

}